<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">🍳 RecipeBox</span>
</mat-toolbar>

<mat-sidenav-container class="app-container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <button
        mat-list-item
        (click)="navigateTo('recipes');"
        [class.active]="currentPage() === 'recipes'"
      >
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span matListItemTitle>Mes Recettes</span>
      </button>

      <button
        mat-list-item
        (click)="navigateTo('stock');"
        [class.active]="currentPage() === 'stock'"
      >
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Mon Stock</span>
      </button>

      <mat-divider />

      <button
        mat-list-item
        (click)="navigateTo('recipes-management');"
        [class.active]="currentPage() === 'recipes-management'"
      >
        <mat-icon matListItemIcon>kitchen</mat-icon>
        <span matListItemTitle>Gestion des Recettes</span>
      </button>

      <button
        mat-list-item
        (click)="navigateTo('ingredients');"
        [class.active]="currentPage() === 'ingredients'"
      >
        <mat-icon matListItemIcon>restaurant</mat-icon>
        <span matListItemTitle>Gestion des Ingrédients</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    @if (currentPage() === 'recipes') { <app-recipes /> }
    @if (currentPage() === 'recipes-management') { <app-recipes-management /> }
    @if (currentPage() === 'ingredients') { <app-ingredients /> }
    @if (currentPage() === 'stock') { <app-stock /> }
  </mat-sidenav-content>
</mat-sidenav-container>
