<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">🍳 RecipeBox</span>
</mat-toolbar>

<mat-sidenav-container class="app-container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="false">
    <mat-nav-list>
      <button
        mat-list-item
        (click)="navigateTo('recipes'); sidenav.toggle()"
        [class.active]="currentPage() === 'recipes'"
      >
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span matListItemTitle>Mes Recettes</span>
      </button>

      <button
        mat-list-item
        (click)="navigateTo('ingredients'); sidenav.toggle()"
        [class.active]="currentPage() === 'ingredients'"
      >
        <mat-icon matListItemIcon>restaurant</mat-icon>
        <span matListItemTitle>Ingrédients</span>
      </button>

      <button
        mat-list-item
        (click)="navigateTo('stock'); sidenav.toggle()"
        [class.active]="currentPage() === 'stock'"
      >
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Stock</span>
      </button>

      <button
        mat-list-item
        (click)="navigateTo('search'); sidenav.toggle()"
        [class.active]="currentPage() === 'search'"
      >
        <mat-icon matListItemIcon>search</mat-icon>
        <span matListItemTitle>Rechercher</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <app-recipes *ngIf="currentPage() === 'recipes'"></app-recipes>
    <app-ingredients *ngIf="currentPage() === 'ingredients'"></app-ingredients>
    <app-stock *ngIf="currentPage() === 'stock'"></app-stock>
    <app-recipe-search *ngIf="currentPage() === 'search'"></app-recipe-search>
  </mat-sidenav-content>
</mat-sidenav-container>
